[Unit]
Description=Freenov Kale Kaj Robot Java Service
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/java -jar /home/pi/freenov-kale-kaj/deployment/kale-kaj.jar
WorkingDirectory=/home/pi/freenov-kale-kaj/deployment
#Restart=on-failure

[Install]
WantedBy=multi-user.target
